


.container{
    
    padding-top: 3.5rem;
    width: 100%;
    height: 100%;
    color:black; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.calendar {
    width: 45rem;
    height: 52rem;
    background-color:#5c5c5c27;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
}

.month{
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);

}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}
.month h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}
.month p {
    font-size: 1.3rem;
}
.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    /*text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);*/
}

.prev-date,
.next-date {
    opacity: 0.5;
}



.days div:hover:not(.today){
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;

}