@import "keyframes.css";

@media screen and (max-width: 765px) {
    #slogan {
        display: none !important;
    }
    #sloganText {
        display: block !important;
    }
}
@media screen and (max-width: 1500px) {
    #slogan {
        font-size: 2rem !important;
    }
    #quotes, #meditatingGirl {
        text-align: center !important;
    }
    #meditatingGirl svg {
        padding-left: 0rem !important;
        width: 319px !important;
        height: 244px !important;
    }
    #randQuote {
        padding-right: 0 !important;
    }
    #content2 {
        padding: 0rem 2rem !important;
    }
    #content2row1, #content2row2 {
        flex-wrap: wrap !important;
    }
    #content2row2 .article {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    #content2row2 .article:nth-child(1) {
        margin-bottom: 5px;
    }
    #content2row2 .article:nth-child(2) {
        margin-top: 5px;
    }
    .nextDiv {
        display: none;
    }
    #welcomeMsg {
        width: 100% !important;
    }
    #articles img {
        width: 500px !important;
        min-height: 440px !important;
    }
}
#welcomeMsg {
    width: 50%;
}
.content {
    font-family: 'Open Sans', sans-serif, cursive;    
}
#content1{
    padding-top: 3.5rem;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(rgb(255, 255, 255),#f9fdff);
}
#content1Row1 {
    padding: 0;
    margin: 0;
}
#slogan {
    color: black; 
    font-weight: 550; 
    font-size: 3rem; 
}
#sloganText {
    display: none;
}
#quotes {
    letter-spacing: -1.25px;
    text-align: left;
}
#randQuote {
    padding-right: 10rem;
}
#quotes h1 {
    letter-spacing: -2px;
}
#meditatingGirl {
    text-align: center;
}
#meditatingGirl svg {
    padding-left: 3rem;
    width: 750px;
    height: 350px;
}
#torso {
    animation: breathing 3s infinite linear;
    animation-direction: alternate;
    transform-origin: center;
    transform-box: fill-box;
}
#arms {
    animation: shrugging 3s infinite linear;
    animation-direction: alternate;
}
#missionStmt {
    padding: 3rem 0.5rem;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(#f9fdff,#d8f3ff);
    text-align: center;
    margin: 0; 
}
#missionStmtRow1 {
    margin: 0;
}
#stmt {
    background: #445878;
    box-shadow: #637899 0 10px;
    margin-bottom: 0;
    padding: 1rem 1rem;
}
#stmt p {
    font-size: 22px;
}
#airBalloon {
    animation: floating 2s infinite linear;
    animation-direction: alternate;
    transform-origin: center;
}
#balloon svg {
    max-width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#content2 {
    padding: 5rem 0.5rem 0;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(#d8f3ff,#ddf4fd);
    padding-bottom: 30px;
}
#articles {
    padding: 0 8rem;
}
#articles img {
    height: 550px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-inner {
    padding: 3rem 3rem 2rem;
}
.carousel-item {
    cursor: pointer;
    border-radius: 15px;
}
#article1 {
    background: #E9F1DF;
    box-shadow: #fdfdfd 0 10px;
}
#article2 {
    background: #F2385A;
    box-shadow: #f0a0ae 0 10px;
}
#article3 {
    background: #F5A503;
    box-shadow: #e6c074 0 10px;
}
.carousel-item .articleLink {
    text-align: left;
    margin: 0 0 10px 15px;
    width: auto;
    max-width: 50%;
    padding: 7px;
    background: white;
    border-radius: 15px;
}
.carousel-item .articleLink p {
    font-size: 22px;
}