@import "smallscreen.css";
@import "widescreen.css";
@media screen and (max-width: 784px) {
    .loginImg img {
        width: 82.5px;
        height: 82.5px;
    }
    .loginImg h2 {
        font-size: 14px;
    }
    .emailSection label, .passwordSection label, .nameSection label {
        width: 100% !important;
    }
    .icon {
        margin-left: 350px !important;
    }
}
@media screen and (max-width: 415px) {
    .icon {
        margin-left: 275px !important;
    }
}

#body {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column;  
    background-image: linear-gradient(#cafdc2, #f5faf4, white);
}
.loginImg {
    padding-bottom: 0.75rem;
}
.alert {
    padding: 15px !important;
}
.icon {
    cursor: pointer;
    position: absolute;
    margin-left: 300px;
}
form {
    margin-top: 13rem;
    padding: 1rem 1rem;
    background: white;
    border-radius: 25px;
    font-size: 18px;
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.form-group {
    margin-bottom: 0.5rem !important;
}
input:focus::placeholder {
    color: transparent;
}
.emailSection input, .passwordSection input, .nameSection input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    border: none;
    outline: none;
}
.emailSection label, .passwordSection label, .nameSection label {
    left: 0;
    width: 70%;
    height: 50%;
    pointer-events: none;
    border-bottom: 2px solid #616570;
}
.emailSection input:focus + .labelEmail, 
.emailSection input:valid + .labelEmail,
.passwordSection input:focus + .labelPwd,
.passwordSection input:valid + .labelPwd,
.nameSection input:focus + .labelName,
.nameSection input:valid + .labelName {
    border-bottom: 3px solid #25A970;
}
