#body {
    background-image: linear-gradient(#ABC8E2,#C4D7ED,#ffffff)
}
#questionBox {
    padding: 25px 20px;
    background-color:  #E1E6FA;
    border-radius: 25px;
    margin-top: 200px;
    min-height: 250px; 
    max-height: 400px;
}

.question {
    text-align: center;
}

.answers input {
    margin-right: 20px;
}

.answers label {
    font-size: 18px;
}

.navigate {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.arrow-btn {
    background-color: transparent;
    border: 0;
}

.progress {
    padding: 0 !important;
    margin-top: 25px;
    max-width: 50%;
}
