{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}">
<script type='text/javascript' src="{{ url_for('static', filename='scripts/general.js') }}"></script>
{%endblock%}
{%block content%}
    <h2 class = "title1">About Us</h2>
    <div class="text-center" id = "section">
        <h3>Our Mission</h3>
        <div class = "image">
            <img src="{{url_for('static', filename='svg/festivities.svg')}}" alt="festivities">
        </div>
        <div id="missionStmt">
            <p>The goal of MindSanctuary is to help you become more accustomed with how you are currently feeling. 
                It can be a difficult topic for most of us to discuss when it comes to our emotions and showing vulnerability in the process of recognizing your feelings can be overbearing and sometimes uncomfortable. 
                Our interactive quiz is meant to assist with this problem. Implementing a custom designed algorithm, our program discovers the best sources of 
                Books, Music & Articles to provide you with material for your current state-of-being.
            </p>
        </div>
        
    </div>
    <div class="text-center" id = "section">
        <h3>Our Team</h3>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="{{url_for('static', filename='pictures/Arvin.png')}}" alt="team designing" width="185" style="margin-bottom: 15px;">
                    <img src="{{url_for('static', filename='pictures/Charles.png')}}" alt="team designing" style="margin-top: 15px;">
                </div>
                <div class="col-4 image">
                    <img src="{{url_for('static', filename='svg/team_design.svg')}}" alt="team designing">
                </div>
                <div class="col-4 text-right">
                    <img src="{{url_for('static', filename='pictures/Mariah.png')}}" alt="team designing" style="margin-bottom: 15px;">
                    <img src="{{url_for('static', filename='pictures/Richard.png')}}" alt="team designing" width="185" height="180" style="margin-top: 15px;">
                </div>
            </div>
        </div>
        <div id="teamDescription" style="margin-top: 20px;">
            <p>The team consists of a group of four experienced software developers attending California State University of Bakersfield as Seniors. 
                We are all very passionate about helping out those who are going through tough times in isolation, and are aiming to help people get 
                their life back on track. All four developers have experience with designing database systems, expert systems, and front end development. 
                We hope to promote happiness and success in our users lives.
            </p>
        </div>
    </div>
    <div class = "image">
        <h3>Contact Us</h3>
        <img src="{{url_for('static', filename='svg/celebrating_life.svg')}}" alt="celebrating life">
        <p>&emsp;Please contact our team if you have any questions, concerns, or suggestions to help improve your experience at:<h4 style="color: lightblue;">mindSanct@gmail.com</h4> </p>
    </div>

{%endblock%}