{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{%endblock%}

{%block content%}
    <div>
        <form method="POST" action="" style="margin-top: 12rem;"> 
            <div class="loginImg text-center">
                <img src="{{ url_for('static', filename='pictures/MindSanctuary_Icon.png') }}" alt="" width="165" height="165">
                <h4>Sign Up</h4>
                <small class="text-muted">Already Signed Up? <a href="/login">Log In Here!</a></small>
            </div>
            <div  class="nameSection text-left form-group">
                <input type="text" name="firstName" autocomplete="off" placeholder="First Name" id="nameField" required>
                <label for="firstName" class="labelName"></label> 

                <input type="text" name="lastName" autocomplete="off" placeholder="Last Name" id="nameField" required>
                <label for="lastName" class="labelName"></label> 
            </div>
            <div class="emailSection text-left form-group">
                <input type="email" name="email" autocomplete="off" placeholder="Email" id="emailField" required>
                <label for="email" class="labelEmail"></label> 
                <small class="emailHelp" style="color: rgb(247, 76, 76); display: none;">Please enter a valid email</small>
            </div>
            <div class="passwordSection text-left form-group">
                <input type="password" name="pwd" autocomplete="off" placeholder="Password" id="pwdField" required>
                <label for="pwd" class="labelPwd"></label>

                <!-- <input type="password" name="confirmpwd" autocomplete="off" placeholder="Confirm Password" id="pwdField" required>
                <label for="confirmpwd" class="labelPwd"></label> -->
            </div>
            <button class="btn" id="btn" type="submit" style="width: 100%;">Create Account</button>
        </form>
    </div>
{%endblock%}

{%block scripts%}
    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{%endblock%}