/* Include this file on every HTML header */ 
@media screen and (min-width: 800px) {
    #navbar{
        padding-left: 5rem !important;
    }
    #navbarContent {
        font-weight: normal !important;
        font-size: 10px !important;
        padding-left: 2.5rem !important;
        background-color: white !important;
        letter-spacing: normal !important;
    }
    #navbarIcon {
        display: none;
    }
}
#body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 3.5rem;
    min-height: 75rem;
}
html {
    scroll-behavior: smooth;
    font-size: 18px;
    width: 100%;
    height: 100%;
}
#navbar {
    padding: 0;
    margin: 0;
    background-color: white;
}
#navbar .navbar-brand{
    letter-spacing: -1.5px;
    font-size: 18px;
    font-weight: 1000;
    padding-left: 0.5rem;
}
#navbarIcon {
    font-size: 0.75em;
    padding-left: 0.75rem;
}
#navLink:hover > i{
    animation: karetAnim 1s infinite linear;
    animation-direction: alternate;
}
#navList > a {
    border-bottom: 0px;
} 
@keyframes karetAnim {
    from {
        transform: translateX(0px);
    }
    to {
        transform:  translateX(0.5rem);
    }
}
#navbarContent {
    font-weight: bold;
    font-size: 2.5rem;
    padding-left: 1rem;
    letter-spacing: -1.5px;
}
#custom-toggler{
    border: none;
    background: transparent !important;
}
#toggle{
    transform-origin: left;
}
#btn {
    color: white;
    background-color: #1e56a0;
    border-color: #1e56a0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: .3rem 1.25rem;
    border-radius: 1.7rem;
    box-shadow: 1.5px 2.5px 2.5px 0px rgb(136, 136, 136);
    letter-spacing: normal;
}
#btn:hover {
    background-color: #46b3e6;
    border-color:  #46b3e6;
}
 