@media screen and (max-width: 800px) {
    #quotes, #meditatingGirl {
        text-align: center !important;
    }
}
body{
    padding-top: 3.5rem;
    min-height: 75rem;
}
html {
    font-size: 18px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.content {
    font-family: 'Open Sans', sans-serif;
    padding-top: 3.5rem;
    
}
#content1{
    width: 100%;
    max-width: 100%;
    background: linear-gradient(rgb(255, 255, 255),#f9fdff);
}
#content1Row1 {
    padding: 0;
    margin: 0;
}
#content2 {
    width: 100%;
    max-width: 100%;
    background: linear-gradient(#f9fdff,#e8f8ff);
}
#quotes {
    text-align: left;
}
#meditatingGirl {
    text-align: center;
}
#torso {
    animation: breathing 3s infinite linear;
    animation-direction: alternate;
    transform-origin: center;
    transform-box: fill-box;
}
#arms {
    animation: shrugging 3s infinite linear;
    animation-direction: alternate;
}
.shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px
}
@keyframes shrugging {
    from{
        transform: translate(0px, 0px);
    }
    to {
        transform:  translate(0px, -8.5px);
    }
}
@keyframes breathing {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}