@media screen and (min-width: 1000px) {
    #navbar{
        padding-left: 5rem !important;
    }
    #navbarContent {
        font-weight: normal !important;
        font-size: 10px !important;
        padding-left: 0 !important;
        background-color: white !important;
        letter-spacing: normal !important;
    }
    #navbarIcon {
        display: none;
    }
}